	<div id="body" class="home">
			<div class="header">
				<div>
					<img src="images/satellite.png" alt="" class="satellite">
          <%= image_tag  "satellite.png", class:'satellite' %>
					<h1>SOYUZ TMA-M</h1>
					<h2>SPACECRAFT</h2>
          <%= link_to  "Get Started", new_member_session_path, class:'more' %>
				</div>	
          <!--==================================
          recent bloggs
         ================================= -->
					<div class="row">
           <h3>RECENT BLOGS</h3>
						<div class="col-md-3">
              <%= link_to  root_path  do %>
                <%= image_tag  "project-image1.jpg", alt:'' %>
              <% end %>
						</div>
						<div class="col-md-3">
							<%= link_to  root_path  do %>
                <%= image_tag  "project-image2.jpg", alt:'' %>
              <% end %>
						</div>
						<div class="col-md-3">
							<%= link_to  root_path  do %>
                <%= image_tag  "project-image3.jpg", alt:'' %>
              <% end %>
						</div>
						<div class="col-md-3">
							<%= link_to  root_path  do %>
                <%= image_tag  "project-image4.jpg", alt:'' %>
              <% end %>
						</div>
					</div>
				</div>
			<div class="row">
    <!-- Main content -->
    <div class="col-md-9">

        <!-- Testimonials--> 
        <div class="testimonial">
           <div class="row">
              <h2 class="page-header text-center">Testimonials</h2>
               <div class="col-md-4">
                   <div class="panel panel-default">
                    <div class="panel-body">
                        <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                    </div>
               </div> <!--1 testmonial-->

               <div class="col-md-4">
                   <div class="panel panel-default">
                    <div class="panel-body">
                        <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                    </div>
               </div> <!--2 testmonial-->

               <div class="col-md-4">
                   <div class="panel panel-default">
                    <div class="panel-body">
                        <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                    </div>
               </div> <!--3 testmonial-->
           </div>
           
        </div>
        <!--=============
        OPEN FARMS
        ===============-->
        <div class="opem-farm">
          <div class="row">
            <h3>OPEN FARMS</h3>
             <div class="col-md-3">
              <%= link_to  root_path  do %>
                <%= image_tag  "project-image1.jpg", alt:'' %>
              <% end %>
						</div>
						<div class="col-md-3">
							<%= link_to  root_path  do %>
                <%= image_tag  "project-image2.jpg", alt:'' %>
              <% end %>
						</div>
						<div class="col-md-3">
							<%= link_to  root_path  do %>
                <%= image_tag  "project-image3.jpg", alt:'' %>
              <% end %>
						</div>
						<div class="col-md-3">
							<%= link_to  root_path  do %>
                <%= image_tag  "project-image4.jpg", alt:'' %>
              <% end %>
						</div>
          </div>
        </div>
    </div>
    <!-- 
    Right side //Social Media feeds
    -->
    <div class="col-md-3">
      <h3>SOCIAL MEDIA FEED</h3>
    </div>       
</div>

